* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
    padding: 20px;
}
.cabecalho {
    background-color: lightsalmon;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    display: inline;
    position: relative;
    top: 30px;
}

.menu {
    display: inline;
    text-align: right;
    position: relative;
    top: 10px;
    right: 10px;
}

#contato {
    background-color: rgb(253, 253, 253);
}

.container {
    position: relative;
    top: 100px;
    width: 900px;
    margin: 50px auto;
    text-align: center;
}

.container h1, h2, h3, h4, p {
    padding: 5px;
}

.container img {
    max-width: 400px;
    max-height: 400px;
}


.linha img {
    max-width: 450px;
    max-height: 450px;
}

.container > div {
    display: inline;
}

.linha {
    display: flex;
    position: relative;
    top: 100px;
    width: 900px;
    margin: 50px auto;
}

.coluna {
    flex: 50%;
}

#texto-descritivo {
    text-align: justify;
    margin-left: 20px;
}

#botão-portfolio {
    background-color: lightsalmon;
    height: 50px;
    width: 200px;
    font-size: medium;
    border-radius: .25rem;
}

#botão-portfolio:hover {
    background-color: rgba(255, 160, 122, 0.692);
}

.rodape {
    background-color: orange;
    height: 80px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.rodape div {
    display: inline;
}

.rodape p {
    padding: 10px;
    margin-top: 20px;
    display: inline-block;
}

.rodape img {
    max-width: 20px;
    margin: 0;
}