#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

#water {
    grid-column-start: 3;
}
/* ********************************* */

#water {
    grid-column-start: 5;
}
/* ********************************* */

#water {
    grid-column-start: 1;
    grid-column-end: 4;
}
/* ********************************* */

#water {
    grid-column-start: 5;
    grid-column-end: 2;
}
/* ********************************* */

#water {
    grid-column-start: 1;
    grid-column-end: 5;
}
/* ********************************* */

#poison {
    grid-column-start: -3;
}
/* ********************************* */

#water {
    grid-column-start: 2;
    grid-column-end: span 2;
}
/* ********************************* */

#water {
    grid-column-start: 2;
    grid-column-end: span 5;
}
/* ********************************* */

#water {
    grid-column-start: 3 span;
    grid-column-end: 6;
}
/* ********************************* */

#water {
    grid-column: 4 / 7;
}
/* ********************************* */

#water {
    grid-column: 2 / span 3;
}    
/* ********************************* */

#water {
    grid-row: 3;
}
/* ********************************* */

#water {
    grid-row: 3 / 6;
}
/* ********************************* */

#poison {
    grid-row: 5 / span 1;
    grid-column: 2;
}
/* ********************************* */

#water {
    grid-row: 1 / span 5;
    grid-column: 2 / span 4;
}
/* ********************************* */

#water {
    grid-area: 1 / 2 / 4 / 6;
}

/* ********************************* */

#water-2 {
    grid-area: 2 / 3 / 5 / 6;
}
/* ********************************* */


/* ********************************* */


/* ********************************* */


/* ********************************* */


/* ********************************* */


/* ********************************* */


/* ********************************* */


/* ********************************* */


/* ********************************* */